@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 900px) {

  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ((100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));

  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range) {
    font-size: $max-font-size;
  }
}

h1 {
  @include fluid-type(20px, 30px);
  font-weight: 100;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.todoBlock {
  background: aliceblue;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

.addBtn {
  padding: 10px;
  width: 16%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  margin-left: 1%;
}

.addBtn:hover {
  background-color: #bbb;
}

.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.task {
  padding: 10px;

  .checkbox {
    width: 10%;
  }
  .titleBlock {
    width: 80%;
    text-align: center;
  }
  .delete {
    float: right;
    width: 10%;
    color: #f44336;
  }
}

.tasks:nth-child(odd) {
  background: #f9f9f9;
}
