<div class="container">
  <div class="todoBlock">
        <div class="header">
          <h2>Todo Task</h2>
          <input type="text" placeholder="Title..." [(ngModel)]="newTask.title" (keyup.enter)= "addTask()">
          <button class="addBtn" (click)="addTask()">Add</button>
        </div>
        <div class="task" *ngFor="let task of tasks; let i = index">
            <input class="checkbox" type="checkbox" [(ngModel)]="task.state" (change)="saveTask()">
            <label class="titleBlock" [ngClass]="task.state ? 'checked': ''" (click)="task.state = !task.state; saveTask()">{{task.title}}</label>
            <span class="delete" (click)="removeTask(i) "><i class="far fa-trash-alt"></i></span>
        </div>
  </div>
</div>
